*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #282D35;
  height: 100vh;
  font-family:  sans-serif;
}
nav{
  display: flex;
  align-items: center;
  padding: 30px;
  height: 90px;
  background-color: #21222A;
}
nav  h3 , nav  h4 {
  margin: 0;
}
nav  img {
  height: 30px;
  margin-right: 6px;
}
nav  h3 {
  margin-right: auto;
  color:#61DAFB;
  font-weight: 800;
  font-size: 23px;
}
nav  h4 {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
main{
  padding: 50px 25px;
  color: white;
  background-image: url(/public/images/logo192.png);
  background-repeat: no-repeat;
  background-position: right 75%;
  
}
.title{
  margin: 0;
  font-size: 40px;
  font-weight: 800;
}
.facts{
  margin-top: 40px;
  max-width: 400px;
}
.facts  li{
  line-height: 17px;
  padding-block: 10px; 
}
.facts li::marker{
  color:#61DAFB;
  font-size: 1.6rem;
}